@import url('https://fonts.googleapis.com/css?family=Assistant|Vampiro+One');

body {
  background: #a3b5c8;
  color: white;
  font-family: 'Assistant', Helvetica, sans-serif;
}

#canvas {
  z-index: -1;
  background: url('./images/sushi-backdrop.png');
  /*cursor: none;*/
}

.hidden {
  display: none;
  visibility: hidden;
}

.game-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;
}

#intro {
  color: white;
  margin: 0 auto;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: 'Vampiro One', cursive;
  font-size: 80px;
  margin: 10px;
  cursor: pointer;
}

h2 {
  font-family: 'Vampiro One', cursive;
  font-size: 60px;
  margin: 40px;
}


h3 {
  color: #494541;
  font-size: 36px;
  margin-bottom: 8px;
  cursor: point
}

h5 {
  color: #494541;
  font-size: 22px;
}
