@import url('https://fonts.googleapis.com/css?family=Assistant|Vampiro+One');

body {
  background: black;
  color: white;
  font-family: 'Assistant', Helvetica, sans-serif;
}

#canvas {
  /* for shits right now */
  background: black;
  position: absolute;
  width: 700px;
  height: 650px;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  cursor: none;
}

.hidden {
  display: none;
}

#intro {
  color: white;
  margin: 0 auto;
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: 'Vampiro One', cursive;
  font-size: 55px;
  margin: 10px;
}

h3 {
  color: lime;
  font-size: 22px;
  margin-bottom: 8px;
}

h5 {
  color: yellow;
  font-size: 18px;
}
